# Unit 1 Python Fundamentals

In [7]:
a=33
a

33

In [8]:
a

33

In [48]:
A=2 #Int
B=99.999999999 #Float
C= "Ckpcet" #String
D= True #Bool

In [15]:
B

99.999999999

In [12]:
D

True

In [16]:
type(A)

int

In [17]:
type(B)

float

In [23]:
type(C)

str

In [20]:
type(D)

bool

In [24]:
var1=12
var2=12.8
var3="I am Pratham Dakoria"
var4=True
var5=False
var6=3.14
var7=12082002
var8="I am in Surat"
var9=False
var10=19032002
var11=12.2002
var12="I am mechanical engineer"
var13="I am rich"
var14=8140098123
var15=21645684.31354532135441

In [37]:
var15

21645684.31354532

In [38]:
type(A)

int

In [41]:
type(var2)

float

In [40]:
type(var15)

float

In [42]:
#math operation on Vriables

In [43]:
B

99.999999999

In [46]:
var16=A/B
var16

0.5600000000056

In [47]:
x=A+B
x

155.999999999

In [51]:
p=A**5
p

32

In [ ]:
# var17=var1**1000999
var17

In [58]:
#use input keyword to take input from user
#asks user to enter the value and store it in variable x
x=int(input("Enter the value of x: "))
#asks user to enter the value and store it in variable y
y=int(input("Enter the value of y: "))

Enter the value of x: 10
Enter the value of y: 20

In [61]:
x

10

In [62]:
y

20

In [63]:
z=x*y

In [64]:
z

200

# string Concatenation

In [65]:
str1="c.k."
str2="Pithawala"
str3=str1 + str2
str3

'c.k.Pithawala'

In [68]:
Firstname="Pratham "
Middlename="Ashwinbhai "
Lastname="Dakoria"
Fullname=Firstname + Middlename + Lastname
Fullname

'Pratham Ashwinbhai Dakoria'

In [69]:
print(len(Fullname))

26

In [70]:
print(len(Firstname))

8

# string Slicing

In [71]:
Fullname[0:4]

'Prat'

In [72]:
Fullname[5:20]

'am Ashwinbhai D'

In [73]:
print(Lastname)

Dakoria

In [75]:
Fullname[19:26]

'Dakoria'

# Tuples

In [76]:
tup1 = ("parul", 22, "Bharat", 45.5, "vadodara", 99)

print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [77]:
tup1[4]

'vadodara'

In [78]:
tup1[2:4]

('Bharat', 45.5)

# List in python

In [81]:
#create list
lst1 = ["parul", 22, "Bharat", 45.5, "vadodara", 99]
print(lst1)

print(type(lst1))

['parul', 22, 'Bharat', 45.5, 'vadodara', 99]
<class 'list'>

In [82]:
len(lst1)

6

In [84]:
lst1.remove(22)

In [85]:
print(lst1)

['parul', 'Bharat', 45.5, 'vadodara', 99]

# Dictionary

In [86]:
dict1 = {"University" : "CKP surat", "course": "Artificial Inteleegence", "Branch" : "Electronics"}
print(dict1)

{'University': 'CKP surat', 'course': 'Artificial Inteleegence', 'Branch': 'Electronics'}

In [87]:
print(len(dict1))
type(dict1)

3

dict

# Python Conditional Statement

In [92]:
#If statement

num= 15
if num > 10:
    print(num, "is a Positive Number")
    print("This statement is true")

15 is a Positive Number
This statement is true

In [ ]:
#if else statement
num= -5
if